name: Build project using muddler and upload artifact

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4.2.2

      - name: JSON to variables
        uses: antifree/json-to-variables@v1.2.0
        with:
          filename: "./mfile"
          prefix: "mfile"

      - name: "create version file"
        id: create_version_file
        run: |
          echo "filename=${{ env.mfile_package }}_version.txt" >> $GITHUB_ENV
          echo "${{ env.mfile_version }}" > "${{ env.mfile_package }}_version.txt"

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Build Concatenated and Minified Versions
        run: |
          python mini.py src/scripts mini/Glu.min.lua
          python mini.py src/scripts mini/Glu.single.lua --no-minify

      - name: Build With Muddler
        uses: demonnic/build-with-muddler@main
        with:
          muddlerVersion: LATEST

      - uses: ncipollo/release-action@v1
        with:
          artifacts: "build/${{ env.mfile_package }}.mpackage,mini/Glu.min.lua,mini/Glu.single.lua,${{ env.filename }}"
          allowUpdates: true
          bodyFile: "./README.md"
          tag: ${{ env.mfile_version }}
