name: Build project using muddler and upload artifact

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6

      - name: JSON to variables
        uses: antifree/json-to-variables@v1.3.0
        with:
          filename: "./mfile"
          prefix: "mfile"

      - name: Build With Muddler
        uses: demonnic/build-with-muddler@main
        with:
          muddlerVersion: LATEST

      - name: "create version file"
        id: create_version_file
        run: |
          mkdir -p build
          echo "filename=${{ env.mfile_package }}_version.txt" >> $GITHUB_ENV
          echo "${{ env.mfile_version }}" > "build/${{ env.mfile_package }}_version.txt"

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.x"

      - name: Build Concatenated and Minified Versions
        run: |
          python mini.py src/scripts build/Glu.min.lua
          python mini.py src/scripts build/Glu.single.lua --no-minify

      - uses: ncipollo/release-action@v1
        with:
          artifacts: "build/${{env.mfile_package}}.mpackage,build/Glu.min.lua,build/Glu.single.lua,build/${{env.filename}}"
          allowUpdates: true
          bodyFile: "./README.md"
          tag: ${{ env.mfile_version }}
